<div class="well col-md-8">
    <h2>Sports</h2>
    <div>
        <a class="sport transition" href="{{sport.Url}}" data-ng-repeat="sport in sports">
            <i class="{{sport.CssClass}}"></i>
            <label>{{sport.Name}}</label>
            <label class="details">
                <span>Total / IP: {{sport.Total}} / {{sport.InPlay}}</span><br />
                <span data-ng-class="{'icon-alert': sport.InErrorState}">Errors: {{sport.InErrorState}}</span>
            </label>
        </a>
    </div>
</div>