<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.5.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.5" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="true" />
  <package id="SportingSolutions.Udapi.Sdk" version="1.2.1" targetFramework="net45" />
</packages>