<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="StatsSettings" type="SS.Integration.Common.Stats.Configuration.StatsConfigurationSection, SS.Integration.Common" />
	</configSections>


	<!-- If a consumer type is not found, no run-time errors are raised, the consumer will be skipped over -->
	<StatsSettings enabled="true">

		<!--  Remove this consumer if statsd is not used.  -->
		<consumer name="statds" enabled="true" type="SS.Integration.Adapter.Statsd.StatsdConsumer, SS.Integration.Adapter.Statsd" >
			<add key="url"         value='#{AdapterStatsdServiceUrl}' />
			<add key="environment" value='#{AdapterCustomerEnvironment}' />
	
			<!-- If not specified Environment.MachineName is used -->
			<add key="host"        value='#{AdapterCustomerHost}' />
		</consumer>

		<consumer name="logger" enabled="false" type="SS.Integration.Common.Stats.Consumer.LoggerConsumer, SS.Integration.Common" />
		
	</StatsSettings>
	
</configuration>