<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka
      {
        loglevel = INFO
        loggers = ["Akka.Logger.log4net.Log4NetLogger, Akka.Logger.log4net"]
        actor
        {
          debug
          {
            receive = on      # log any received message
            autoreceive = on  # log automatically received messages, e.g. PoisonPill
            lifecycle = on    # log actor lifecycle changes
            event-stream = on # log subscription changes for Akka.NET event stream
            unhandled = on    # log unhandled messages sent to actors
          }
        }
      }
      ]]>
    </hocon>
  </akka>

  <appSettings>
    <add key="user" value="[user]" />
    <add key="password" value="[password]" />
    <add key="url" value="[url]" />
    <add key="newFixtureCheckerFrequency" value="60000" />
    <add key="startingRetryDelay" value="100" />
    <add key="maxRetryDelay" value="7000" />
    <add key="maxRetryAttempts" value="100" />
    <add key="echoInterval" value="10000" />
    <add key="echoDelay" value="3000" />
    <add key="fixtureCreationConcurrency" value="20" />
    <add key="suspendAllOnShutdown" value="true" />
    <add key="stateProviderPath" value="FixturesStateFiles" />
    <add key="fixturesStateFilePath" value="fixturesState.json" />
    <add key="fixturesStateAutoStoreInterval" value="5000" />
    <add key="marketFiltersDirectory" value="MarketFilterState" />
    <add key="cacheExpiryInMins" value="15" />
    <add key="statsEnabled" value="false" />
    <add key="deltaRuleEnabled" value="false" />
    <add key="maxUnhandledExceptions" value="10" />
    <add key="useSupervisor" value="true" />
    <add key="supervisorUrl" value="http://localhost:9000" />
    <add key="skipRulesOnError" value="false" />
    <add key="streamSafetyThreshold" value="3" />
    <add key="skipRestartOnFatalException" value="false" />
    <add key="preMatchSuspensionBeforeStartTimeInMins" value="15" />
    <add key="disablePrematchSuspensionOnDisconnection" value="false" />
    <add key="startStreamingTimeoutInSeconds" value="60" />
    <add key="allowFixtureStreamingInSetupMode" value="false" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <connectionManagement>
      <!-- The RFC2616 spec recomends that a client should NOT maintain more than 2 connections C:\Git\Unified_Data_API_Client_DotNet\SportingSolutions.Udapi.Sdk.StreamingExample.Console\Udapi\
           with any server/proxy to improve response times and avoid congestion. This means highly concurrent, 
           latent web requests require excessive timeout values to avoid timeouts as a result of request queueing
           so the max connections value has been increased -->
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
