<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="InsertBefore(/configuration/appSettings)" >
    <section name="mappingUpdater" type="SS.Integration.Adapter.Plugin.OpenBet.Configuration.MappingUpdaterSection, SS.Integration.Adapter.Plugin.OpenBet" />
  </configSections>

  <appSettings xdt:Transform="Replace" xdt:Locator="XPath(//configuration/appSettings)">
		<add key="user"                               value='#{AdapterServiceUsername}' />
		<add key="password"                           value='#{AdapterServicePassword}' />
		<add key="url"                                value='#{AdapterServiceApiUrl}' />
		<add key="newFixtureCheckerFrequency" 			  value="#{AdapterNewFixtureCheckerFrequency}" />
		<add key="startingRetryDelay" 			          value="#{AdapterStartingRetryDelay}" />
		<add key="maxRetryDelay" 			                value="#{AdapterMaxRetryDelay}" />
		<add key="maxRetryAttempts" 			            value="#{AdapterMaxRetryAttempts}" />
		<add key="echoInterval" 			                value="#{AdapterEchoInterval}" />
		<add key="echoDelay" 			                    value="#{AdapterEchoDelay}" />
		<add key="fixtureCreationConcurrency" 			  value="#{AdapterFixtureCreationConcurrency}" />
		<add key="suspendAllOnShutdown" 			        value="#{AdapterSuspendAllOnShutdown}" />
		<add key="heartBeatIntervalSeconds" 			    value="#{AdapterHeartBeatIntervalSeconds}" />
		<add key="eventStateFilePath" 			          value="#{AdapterEventStateFilePath}" />
		<add key="marketFiltersDirectory" 			      value="#{AdapterMarketFiltersDirectory}" />
		<add key="cacheExpiryInMins" 			            value="#{AdapterCacheExpiryInMins}" />
		<add key="statsEnabled"                       value='#{AdapterUseStats}' />
		<add key="deltaRuleEnabled"                   value="#{AdapterUseDeltaRule}" />
		<add key="PluginAssembly"                     value="#{AdapterPluginAssembly}" />
  </appSettings>

  <mappingUpdater configSource="mappingUpdater.config"  xdt:Transform="InsertAfter(/configuration/appSettings)"  />

  <dependentAssembly xdt:Transform="InsertAfter(/configuration/runtime/*[local-name() = 'assemblyBinding'])">
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
  </dependentAssembly>

</configuration>