<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>
    <add key="user" value="#{AdapterServiceUsername}" />
    <add key="password" value="#{AdapterServicePassword}" />
    <add key="url" value="#{AdapterServiceApiUrl}" />
    <add key="newFixtureCheckerFrequency" value="60000" />
    <add key="startingRetryDelay" value="100" />
    <add key="maxRetryDelay" value="7000" />
    <add key="maxRetryAttempts" value="100" />
    <add key="echoInterval" value="10000" />
    <add key="echoDelay" value="3000" />
    <add key="fixtureCreationConcurrency" value="20" />
    <add key="suspendAllOnShutdown" value="true" />
    <add key="eventStateFilePath" value="eventState.json" />
    <add key="marketFiltersDirectory" value="FixturesStateFiles\MarketFilterState" />
    <add key="cacheExpiryInMins" value="15" />
		<add key="statsEnabled" value="false" />
		<add key="deltaRuleEnabled" value="false" />
		<add key="stopStreamingDelayedSports" value="" />
		<add key="stopStreamingDelayMinutes" value="0" />
  </appSettings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <connectionManagement>
      <!-- The RFC2616 spec recomends that a client should NOT maintain more than 2 connections C:\Git\Unified_Data_API_Client_DotNet\SportingSolutions.Udapi.Sdk.StreamingExample.Console\Udapi\
           with any server/proxy to improve response times and avoid congestion. This means highly concurrent, 
           latent web requests require excessive timeout values to avoid timeouts as a result of request queueing
           so the max connections value has been increased -->
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>