<mappingUpdater>
  <!--
   <google>
     <add key="Username" value="{googleusername}" />
     <add key="Password" value="{googlepassword}" />
     <add key="AppName" value="{googleappname}" />
   </google>
  -->
  
  <!-- 
    <proxyservice>
     <add key="ReadMappingServiceUrl" value="{readmappingurl}" />
     <add key="CheckUpdateServiceUrl" value="{checkupdateurl}" />
     <add key="SportListServiceUrl" value="{sportlisturl}" />
     <add key="Company" value="{company}" />
     <add key="Enviroment " value="{enviroment}" />  
   </proxyservice> 
  -->
  <proxyservice>
    <add key="ReadMappingServiceUrl" value="http://10.11.100.101:1234/api/MappingRead" />
    <add key="CheckUpdateServiceUrl" value="http://10.11.100.101:1234/api/MappingCheckUpdate" />
    <add key="SportListServiceUrl" value="http://10.11.100.101:1234/api/MappingSportsList" />
    <add key="Company" value="mfranciosa" />
    <add key="Enviroment" value="CUI" />
  </proxyservice>

  <generalConfig>
    <add key="FileNameOrReferenceToDeserialize" value="MappingTest" />
    <add key="MappingUpdaterFactoryClass" value="SS.Integration.Adapter.Mappings.DefaultMappingUpdaterFactory, SS.Integration.Adapter" />
    <add key="CheckForUpdatesInterval" value="60000" />
    <!--
    <add key="SerializerSettingsSection" value="" />
    <add key="SerializerSettingsClass"  value="" />
    -->   
  
    <add key="SerializerSettingsSection" value="proxyservice" />
    <add key="SerializerSettingsClass"  value="SS.Integration.Common.ConfigSerializer.ProxyServiceSettings, SS.Integration.Common.ConfigSerializer" />
  
  </generalConfig>
</mappingUpdater>