<mappingUpdater>

  <!-- 
    <proxyservice>
     <add key="ReadMappingServiceUrl" value="{readmappingurl}" />
     <add key="CheckUpdateServiceUrl" value="{checkupdateurl}" />
     <add key="SportListServiceUrl" value="{sportlisturl}" />
     <add key="Company" value="{company}" />
     <add key="Enviroment " value="{enviroment}" />  
   </proxyservice> 
  -->

  <generalConfig>
    <add key="FileNameOrReferenceToDeserialize" value="MappingTest" />
    <add key="CheckForUpdatesInterval" value="60000" />
    <add key="MappingUpdaterFactoryClass" value="SS.Integration.Adapter.Mappings.DummyMappingUpdaterFactory, SS.Integration.Adapter" />

    <!--
    <add key="MappingUpdaterFactoryClass" value="SS.Integration.Adapter.Mappings.DefaultMappingUpdaterFactory, SS.Integration.Adapter" />    
    <add key="SerializerSettingsSection" value="proxyservice" />
    <add key="SerializerSettingsClass"  value="SS.Integration.Common.ConfigSerializer.ProxyServiceSettings, SS.Integration.Common.ConfigSerializer" />
    -->
    
  </generalConfig>
</mappingUpdater>