<mappingUpdater>
  <!--
   <google>
     <add key="Username" value="{googleusername}" />
     <add key="Password" value="{googlepassword}" />
     <add key="AppName" value="{googleappname}" />
   </google>
  -->
  <generalConfig>
    <add key="FileNameOrReferenceToDeserialize" value="MappingTest" />
    <add key="MappingUpdaterFactoryClass" value="SS.Integration.Adapter.Mappings.DummyMappingUpdaterFactory, SS.Integration.Adapter" />
    <add key="CheckForUpdatesInterval" value="60000" />
    <add key="SerializerSettingsSection" value="" />
    <add key="SerializerSettingsClass"  value="" />
    <!--
    <add key="SerializerSettingsSection" value="google" />
    <add key="SerializerSettingsClass"  value="SS.Integration.Common.ConfigSerializer.GoogleDocSettings, SS.Integration.Common.ConfigSerializer" />
    -->
  </generalConfig>
</mappingUpdater>